Edifact/files/composites.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- UN -->
<!-- The file was automatically generated -->
<!-- Don't edit! -->
<xs:schema
  targetNamespace="EDIFACT"
  xmlns="EDIFACT"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  xmlns:an="http://leksi.net/annotation"
>
  <xs:include schemaLocation="elements.xsd"/>
  <xs:complexType name="S001">
    <xs:annotation>
      <xs:documentation>SYNTAX IDENTIFIER</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0001" type="D0001">
        <xs:annotation>
          <xs:documentation an:name="name">Syntax identifier</xs:documentation>
          <xs:documentation an:name="description">Specifies which character set is going to be used in the interchange.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0002" type="D0002">
        <xs:annotation>
          <xs:documentation an:name="name">Syntax version number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S002">
    <xs:annotation>
      <xs:documentation an:name="name">INTERCHANGE SENDER</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0004 " type="D0004 ">
        <xs:annotation>
          <xs:documentation an:name="name">Sender identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0007" type="D0007" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">Partner identification code qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0008" type="D0008" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">Address for reverse routing</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S003">
    <xs:annotation>
      <xs:documentation an:name="name">INTERCHANGE RECIPIENT</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0010 " type="D0010 ">
        <xs:annotation>
          <xs:documentation an:name="name">Recipient Identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0007" type="D0007" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">Partner identification code qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0014" type="D0014" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">Routing address</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S004">
    <xs:annotation>
      <xs:documentation an:name="name">DATE/TIME OF PREPARATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0017 " type="D0017">
        <xs:annotation>
          <xs:documentation an:name="note">Date YYMMDD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0019" type="D0019">
        <xs:annotation>
          <xs:documentation an:name="note">Time HHMM</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S005">
    <xs:annotation>
      <xs:documentation an:name="name">RECIPIENTS REFERENCE, PASSWORD</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0022 " type="D0022">
        <xs:annotation>
          <xs:documentation an:name="name">Recipient's reference/password</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0025" type="D0025" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">Recipient's reference/password qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S006">
    <xs:annotation>
      <xs:documentation an:name="name">APPLICATION SENDER'S IDENTIFICATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0040 " type="D0040">
        <xs:annotation>
          <xs:documentation an:name="name">Application sender's identification</xs:documentation>
          <xs:documentation an:name="description">Code or name identifying the division, department etc. within the originating sender's organization</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0007" type="D0007" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">Partner identification code qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S007">
    <xs:annotation>
      <xs:documentation an:name="name">APPLICATION RECIPIENT'S IDENTIFICATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0044" type="D0044">
        <xs:annotation>
          <xs:documentation an:name="name">Application Recipient's identification</xs:documentation>
          <xs:documentation an:name="description">
            Code or name identifying the division, department etc. within the originating Recipient's organization
            for which the group of
            messages is intended
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0007" type="D0007" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">Partner identification code qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S008">
    <xs:annotation>
      <xs:documentation an:name="name">MESSAGE VERSION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0052" type="D0052">
        <xs:annotation>
          <xs:documentation an:name="name">Message version number</xs:documentation>
          <xs:documentation an:name="description">
            Version number of the message type the functional group
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0054" type="D0054">
        <xs:annotation>
          <xs:documentation an:name="name">Message release number</xs:documentation>
          <xs:documentation an:name="description">
            Release number within
            current version number
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0057" type="D0057" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">Association assigned Code</xs:documentation>
          <xs:documentation an:name="description">
            A code assigned by the association responsible for the design and maintenance of the type of message concerned
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S009">
    <xs:annotation>
      <xs:documentation an:name="name">MESSAGE IDENTIFIER</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0065" type="D0065">
        <xs:annotation>
          <xs:documentation an:name="name">Message type</xs:documentation>
          <xs:documentation an:name="description">
            Type of message being transmitted
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0052" type="D0052">
        <xs:annotation>
          <xs:documentation an:name="name">Message version number</xs:documentation>
          <xs:documentation an:name="description">
            Version number of the message type. If UNG is used, 0052 shall be identical
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0054" type="D0054">
        <xs:annotation>
          <xs:documentation an:name="name">Message release number</xs:documentation>
          <xs:documentation an:name="description">
            Release number within current version number
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0051" type="D0051">
        <xs:annotation>
          <xs:documentation an:name="name">Controlling agency</xs:documentation>
          <xs:documentation an:name="description">
            Release number within current version number
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0057" type="D0057" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">Association assigned code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S010">
    <xs:annotation>
      <xs:documentation an:name="name">STATUS OF THE TRANSFER</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="D0070" type="D0070">
        <xs:annotation>
          <xs:documentation an:name="name">Sequence of transfers</xs:documentation>
          <xs:documentation an:name="description">
            Starts at 1 and is incremented by 1 for each transfer
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="D0073" type="D0073" minOccurs="0">
        <xs:annotation>
          <xs:documentation an:name="name">First and last transfer</xs:documentation>
          <xs:documentation an:name="note">
            C = Creation, must be present for first transfer if more than one foreseen
            F = Final, must be present for last transfer
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>