Edifact/files/edifact.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- UN -->
<!-- The file was automatically generated -->
<!-- Don't edit! -->
<xs:schema
  targetNamespace="EDIFACT"
  xmlns="EDIFACT"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
>
  <xs:complexType name="BASE-MESSAGE" abstract="true">
    <xs:sequence>
      <xs:element name="interchange">
        <xs:complexType>
          <xs:sequence>
            
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:sequence id="structure"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BASE-SEGMENT" abstract="true">
    <xs:anyAttribute namespace="##any"/>
  </xs:complexType>

  <xs:complexType name="D">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="loc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^(\d+:){5}\d+$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>