Edifact/files/elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- UN -->
<!-- The file was automatically generated -->
<!-- Don't edit! -->
<xs:schema
  targetNamespace="EDIFACT"
  xmlns="EDIFACT"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
>
  <xs:include schemaLocation="edifact.xsd" />
  <xs:complexType name="D0001">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w{4}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0002">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0004">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0007">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="4"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0008">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0010">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0014">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0017">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{6}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0019">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{4}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0020">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0022">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0025">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:length value="2"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0026">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0029">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0031">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0032">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0035">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0036">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,6}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0038">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0040">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0044">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0048">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0051">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="2"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0052">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0054">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0057">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0058">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0060">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,6}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0062">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0065">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0068">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0070">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,2}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0073">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0074">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,6}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0081">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>