Edifact/files/UN/D/elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- UN -->
<!-- The file was automatically generated -->
<!-- Don't edit! -->
<xs:schema
  targetNamespace="EDIFACT"
  xmlns="EDIFACT"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  xmlns:an="http://leksi.net/annotation"
>
  <xs:include schemaLocation="../../edifact.xsd" />
  <xs:complexType name="D0001">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w{4}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0002">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0004">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0007">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="4"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0008">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0010">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0014">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0017">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{6}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0019">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{4}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0020">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0022">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0025">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:length value="2"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0026">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0029">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0031">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0032">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0035">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0036">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,6}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0038">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0040">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0044">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0048">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0051">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="2"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0052">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0054">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0057">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0058">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0060">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,6}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0062">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0065">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0068">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0070">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,2}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0073">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0074">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,6}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0081">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0087">
    <xs:annotation>
      <xs:documentation an:name="name">Anti-collision segment group identification</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="4"/>
      </xs:restriction>
    </xs:simpleContent>
    </xs:complexType>
  <xs:complexType name="D0113">
    <xs:annotation>
      <xs:documentation an:name="name">Message type sub-function identification</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0127">
    <xs:annotation>
      <xs:documentation an:name="name">Scenario identification</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0128">
    <xs:annotation>
      <xs:documentation an:name="name">Scenario version number</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0130">
    <xs:annotation>
      <xs:documentation an:name="name">Scenario release number</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0300">
    <xs:annotation>
      <xs:documentation an:name="name">Initiator control reference</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0303">
    <xs:annotation>
      <xs:documentation an:name="name">Initiator reference identification</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0304">
    <xs:annotation>
      <xs:documentation an:name="name">Responder control reference</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0306">
    <xs:annotation>
      <xs:documentation an:name="name">Transaction control reference</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0311">
    <xs:annotation>
      <xs:documentation an:name="name">Dialogue identification</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0314">
    <xs:annotation>
      <xs:documentation an:name="name">Event time</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="15"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0320">
    <xs:annotation>
      <xs:documentation an:name="name">Sender sequence number</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,6}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0323">
    <xs:annotation>
      <xs:documentation an:name="name">Transfer position, coded</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0325">
    <xs:annotation>
      <xs:documentation an:name="name">Duplicate Indicator</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\w$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0336">
    <xs:annotation>
      <xs:documentation an:name="name">Time offset</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,4}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0338">
    <xs:annotation>
      <xs:documentation an:name="name">Event date</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:pattern value="^\d{1,8}$"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0340">
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0342">
    <xs:annotation>
      <xs:documentation an:name="name">Dialogue version number</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="D0344">
    <xs:annotation>
      <xs:documentation an:name="name">Dialogue release number</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="D">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>