Edifact/files/UN/D/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- UN -->
<!-- The file was automatically generated -->
<!-- Don't edit! -->
<xs:schema
  targetNamespace="http://leksi.net/EDIFACT"
  xmlns="http://leksi.net/EDIFACT"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:eu="http://leksi.net/EDIFACT/utility"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
>
  <xs:include schemaLocation="segments.xsd"/>
  <xs:complexType name="MESSAGE">
    <xs:annotation>
      <xs:appinfo eu:name="messageIdentifier"/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BASE-MESSAGE">
        <xs:sequence id="structure">
          <xs:choice minOccurs="0">
            <xs:sequence>
              <xs:element name="UNB" type="UNB" minOccurs="0"/>
              <xs:element name="UNG" type="UNG" minOccurs="0"/>
              <xs:element name="UNH" type="UNH" minOccurs="0"/>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="UIB" type="UIB" minOccurs="0"/>
              <xs:element name="UIH" type="UIH" minOccurs="0"/>
            </xs:sequence>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MESSAGE" type="MESSAGE"/>
</xs:schema>