Edifact/files/UN/D/segments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- UN -->
<!-- The file was automatically generated -->
<!-- Don't edit! -->
<xs:schema
  targetNamespace="http://leksi.net/EDIFACT"
  xmlns="http://leksi.net/EDIFACT"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  xmlns:eu="http://leksi.net/EDIFACT/utility"
>
  <xs:include schemaLocation="composites.xsd"/>
  <xs:complexType name="UNS">
    <xs:annotation>
      <xs:documentation eu:name="name">Section Control</xs:documentation>
      <xs:documentation eu:name="function">
        To separate Header, Detail and Summary sections of a
        message
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BASE-SEGMENT">
        <xs:sequence>
          <xs:element name="D0081" type="D0081">
            <xs:annotation>
              <xs:documentation eu:name="name">SECTION IDENTIFICATION</xs:documentation>
              <xs:documentation eu:name="description">
                Separates sections in a message by one of the following codes:
                D separates the header and detail sections
                S separates the detail and summary sections
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UGH">
    <xs:annotation>
      <xs:documentation eu:name="name">Anti-collision segment group header</xs:documentation>
      <xs:documentation eu:name="function">
        To head, identify and specify an anti-collision segment group.
      </xs:documentation>
      <xs:documentation eu:name="note">
        0087, the value shall be the segment group number of the UGH/UGT segment group
        as stated in the message specification.
        It shall be identical to the value in 0087 in the corresponding UGT segment.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BASE-SEGMENT">
        <xs:sequence>
          <xs:element name="D0087" type="D0087">
            <xs:annotation>
              <xs:documentation eu:name="name">Anti-collision segment group identification</xs:documentation>
              <xs:documentation eu:name="position">010</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UGT">
    <xs:annotation>
      <xs:documentation eu:name="name">Anti-collision segment group trailer</xs:documentation>
      <xs:documentation eu:name="function">
        To end and check the completeness of an anti-collision segment group.
      </xs:documentation>
      <xs:documentation eu:name="note">
        0087, the value shall be the segment group number of the UGH/UGT segment group
        as stated in the message specification.
        It shall be identical to the value in 0087 in the corresponding UGH segment.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BASE-SEGMENT">
        <xs:sequence>
          <xs:element name="D0087" type="D0087">
            <xs:annotation>
              <xs:documentation eu:name="name">Anti-collision segment group identification</xs:documentation>
              <xs:documentation eu:name="position">010</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>